nav {
    margin-bottom: 20px;
    .logo {
        font-size: larger;
        font-weight: bold;
    }
    ul {
        a {
            text-decoration: none;
            display: block;
            color: black;
            border-bottom: 2px solid transparent;
            padding: 8px 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: #eee;
            }
        }
    }
    .search {
        position: relative;
    }
    ul {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        padding: 0px;
        background-color: white;
        box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);
        li {
            cursor: pointer;
            width: 200px;
            padding: 5px 2px;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: #eee;
            }
        }
    }
    .cart {
        position: relative;
        ul {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
            padding: 0px;
            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);

            li {
                cursor: pointer;
                width: 200px;
                padding: 5px 2px;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
    .notifications {
        position: relative;
        ul {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
            padding: 0px;
            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);

            li {
                cursor: pointer;
                width: 200px;
                padding: 5px 2px;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}
